<%- include('./partials/_header') %>

<body>
    <div class="container">
        <div class="row">
          <div class="col">
            <%= photo.title %>
          </div>

        </div>
        <div class="row">
          <div class="col">
            <%= photo.description %>
          </div>

        </div>

        <div class="row">
            <div class="col">
              <img src="<%= photo.image %>" alt="image">
            </div>
  
          </div>
      </div>
</body>

<%- include('./partials/_footer') %>